* {
	box-sizing: border-box;
}

header {
	height: 80px;
	width: 100%;
	background-color: rgba(32, 174, 255, 0.9);
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 3;
}

::before {
	margin-top: 8px;
}

::after {
	margin-top: 8px;
}

a {
	text-decoration: none;
}

.clear {
	clear: left;
}

.logo {
	margin-left: -60px;
	padding-top: 4px;
}

.gambar img {
	height: 323px;
}

.header-left {
	float: left;
}

.header-right {
	float: right;
	margin-right: -60px;
}

.header-right a {
	line-height: 80px;
	font-family: verdana;
	font-size: 20px;
	padding: 0 20px;
	color: white;
	display: block;
	float: left;
	transition: all 0.5s;
}

.header-right a:hover {
	background-color: rgba(255, 255, 255, 0.5);
	color: #000;
}

.container {
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}

.judul-konten {
	padding: 230px 0 30px 0;
	font-family: helvetica;
	text-align: center;
}

.isi-konten {
	padding-bottom: 80px;
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
}

.anime {
	float: left;
	width: 32%;
	margin-bottom: 25px;
	box-shadow: 0 0 3px 1px rgba(17, 17, 17, 0.5);
	margin-left: 10px;
	margin-right: 4px;
}

.info p {
	font-family: arial;
	font-size: 14px;
}

.info span {
	font-weight: 600;
}

.tayang p {
	margin-bottom: 0px;
}

.genre {
	display: table-cell;
	height: 60px;
	text-align: center;
	vertical-align: middle;
	width: 30%;
	padding: 0 20px;
}

.judul {
	display: table-cell;
	height: 75px;
	margin: 0;
	text-align: center;
	vertical-align: middle;
	width: 30%;
}

.text-judul {
	font-family: helvetica;
	color: #000;
	font-size: 15px;
	font-weight: 700;
	padding: 0 20px;
}

.info-anime {
	height: 200px;
	margin-bottom: 20px;
	width: 100%;
}

.info-season {
	margin-bottom: 50px;
	margin-left: 20px;
	margin-right: 20px;
}

.info-season h2 {
	font-family: Helvetica;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 3px;
	border-bottom: #bebebe 1px solid
}

.info-season p {
	font-family: "Roboto", sans-serif;
	height: 20px;
}

.info-season span {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	margin-right: 10px;
}

.info-s {
	float: left;
}

footer {
	padding: 12px 50px;
	height: 180px;
	background-color: rgb(26, 21, 21);
	color: white;
}

footer .footer-logo h2 {
	float: left;
	font-size: 52px;
	font-family: verdana;
	text-shadow: 1px 0 3px rgba(32, 174, 255, 0.9);
	letter-spacing: 2px;
}

footer .anggota {
	float: right;
}

footer .ket h2 {
	padding-left: 30px;
}

footer .anggota li {
	margin-right: 80px;
	padding-bottom: 10px;
}

header {
	background: #111;
}

.headline {
	position: relative;
	height: 200px;
	color: #fff;
	text-align: center;
	background: url("anime.jpg") no-repeat center center;
	background-size: cover;
}

.headline:after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin-top: 0;
	background: rgba(17, 17, 17, 0.5);
}

.inner {
	position: absolute;
	top: 50%;
	left: 50%;
	opacity: 0;
	z-index: 10;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	-webkit-animation: fade-in 0.75s 0.25s ease-in forwards;
	animation: fade-in 0.75s 0.25s ease-in forwards;
}

.inner h1 {
	margin: 0;
	font-size: 4em;
	line-height: 1.2em;
}

.inner p {
	margin: 0;
	font-size: 1.4em;
	font-style: italic;
	font-family: serif;
}

nav {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

nav.scrolled {
	background: rgba(17, 17, 17, 0.9);
	margin-top: 0;
    position: fixed;
    top: 0;
}

nav ul {
	float: right;
	list-style: none;
	padding: 25px;
	margin: 0;
}

nav li {
	float: left;
}

nav a {
	font-size: 0.9em;
	color: #fff;
	text-decoration: none;
	margin: 5px 0 0 20px;
	display: block;
	transition: 0.2s;
}

nav li a:hover {
	border-bottom: 3px solid rgba(32, 174, 255, 0.9);
}

.logo {
	height: 75px;
	float: left;
}

.logo:before, .logo:after {
	position: absolute;
	font-size: 7em;
	font-weight: 300;
	line-height: 0;
	color: #fff;
	top: 25px;
}

.logo:before {
	content: '\00BB';
	left: 20px;
}

.logo:after {
	content: '\00AB';
	left: 34px;
}

section {
	width: 100%;
	margin: 25px auto;
	padding: 20px;
	max-width: 800px;
	font-size: 1.2em;
	line-height: 1.6em;
	box-sizing: border-box;
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
